body {
  margin: 0;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  font-weight: 500;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
p {
  margin: 0;
}
